@-moz-document url-prefix("moz-extension://43cd7701-1273-46ad-96f9-07bd441ba6a3/") {
  * {
    background: transparent !important;

  }
}

@-moz-document url-prefix("about:blank") {
  html {
    background: rgba(0, 0, 0, 0.1) !important;
    background-image: url("") !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }
}

@-moz-document domain(monkeytype.com) {
  body {
    background: transparent !important;
  }
}

@-moz-document domain(perplexity.ai) {
  body {
    background-color: transparent !important;
    background: transparent !important;
  }
}

@-moz-document domain(claude.ai) {
  body {
    background: transparent !important;
  }
}

@-moz-document domain(chatgpt.com) {
  :root {
    --main-surface-primary: transparent !important;
    --sidebar-surface-primary: transparent !important;
  }

  .dark {
    --sidebar-surface-tertiary: background: transparent !important;
  }

  nav {
    background: transparent !important;
  }

  .bg-token-message-surface {
    background-color: transparent !important;
  }

  #composer-background {
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

}

@-moz-document domain(notion.so) {
  body {
    background-color: transparent !important;
    background: transparent !important;
  }

  .notion-app-inner,
  .notion-cursor-listener,
  .notion-frame,
  .notion-sidebar-container,
  header {
    background-color: transparent !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  div.autolayout-row.autolayout-fill-width.autolayout-center.autolayout-space {
    display: none !important;
  }
}
